<template>
<div class="jumbotron mt-3">
        <h1>WELCOME</h1>
      </div>
</template>

<script>
export default {
  
}
</script>

<style>
.mt-3{
    margin: 50% auto;
    text-align: center;
}
</style>
