<template>
 <div class="panel panel-default">
     <div class="panel-body">
         <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" v-model="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" v-model="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button @click="login" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>

     </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
  data(){
      return {
          email:'',
          password:''
      }
      console.log(email);
  },
  methods: {
      login(){
          axios.post("http://localhost:8000/oauth/token",{
              client_id:'2',
              client_secret:'b7kmIhltIFz53rJ08QMqBIxmpYS2bvngVHlOLNcL',
              grant_type:'password',
              username:this.email,
              password:this.password
          })
          .then(response => {
              console.log(response.data)
              this.$auth.setToken(response.data.access_token, response.data.expires_in + Date.now())
          })
          .catch(e => {
              console.log(e)
          })
      }
  },
  created(){

  }
}
</script>

<style>
.form-signin{
    margin: 10% auto;
    width: 400px;
}
.form-signin input{
    padding: 20px;
    margin-top: 10px;
}
</style>
