<template>
 <div class="panel panel-default">
     <div class="panel-body">
         <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Register</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" v-model="name" id="inputEmail" class="form-control" placeholder="name" required="" autofocus="">
      
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" v-model="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="date" v-model="dob" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" v-model="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>

     </div>
    </div>
</template>

<script>
export default {
  data(){
      return {
          name:'',
          email:'',
          dob:'',
          password:''
      }
      console.log(email);
  }
}
</script>

<style>
.form-signin{
    margin: 10% auto;
    width: 400px;
}
.form-signin input{
    padding: 20px;
    margin-top: 10px;
}
</style>
