<template>
<div class="container" id="app">
  <navbar></navbar>
  <!-- <login></login> -->
  <router-view></router-view>
  <!-- <register></register> -->
</div>
</template>

<script>
import Navbar from './components/Navbar.vue'
// import Login from './components/authentication/login.vue'
// import Register from './components/authentication/register.vue'
export default{
  components:{
    'navbar':Navbar,
    // 'login':Login,
    // 'register':Register
  }
}
</script>

<style>
#login{
  margin: 100px auto;
  width: 50%;
}

</style>
